body{
  background-color: #943126;
}

.category{
  display: flex;
  align-items:center;
  justify-content:center;
  text-align: center;
  height: 2em;
  width: 100%;
  background-color: #faf0e6;
  border: 2px solid #228b22;
  margin: 4px;
  font-weight: bold;
}

.question{
  display: flex;
  align-items:center;
  justify-content:center;
  text-align: center;
  height: 8em;
  width: 100%;
  background-color: #c1cdcd;
  border: 2px solid #008080;
  margin: 4px;
  padding: 8px;
  font-size: large;
}

.jeopardy{
  display: grid;
  background-color: lightgreen;
}

#ggg{
  background-color: pink;
  cursor: pointer;
  font-size: 200%;
}

.hhh{
  background-color: lightblue;
}

.hhh, #ggg {
  grid-area: 1 / 1;
}
