{% extends 'jeopardy/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load math_tags %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'jeopardy/css/jeopardy.css' %}">
{% endblock styles %}

{% block content %}

  <h1 style="color: white;">Jeopardy</h1>

  {% if user.is_authenticated %}
    <div style="text-align: left; margin: 10px; background-color: yellow; width:5em; text-align:center;"><a href="{% url 'logout' %}">Logout</a></div>
  {% endif %}
  <br>

  <div class="container">

    <div class="jeopardy">

      <div class="row" id="board">

        {% for category in categories %}

        <div class="col">

          <div class="category">
            {{ category }}
          </div>

          {% for question in questions %}
            {% if question.category == category %}
              <button class="value" id="question{{ question.pk }}" data-question="{{ question.question }}" data-pk="{{ question.pk }}">
                {{ question.value }}
              </button>
            {% endif %}
          {% endfor %}

        </div>

        {% endfor %}

      </div>

      <div id="show_question">
        <div id="question"></div>
        <div id="answers"></div>
        <form id="jeopardy_form" method="post">
          {% csrf_token %}
          <input id="question_pk" type="hidden" name="question_pk" value="">
          <button id="submit_btn">Submit</button>
        </form>

      </div>

    </div>



  </div>


{% endblock content %}

{% block javascript %}
  <script src="{% static 'jeopardy/js/jeopardy.js' %}"></script>
{% endblock javascript %}
